<link rel='stylesheet' href='assets/stylesheets/fullcalendar.css' />
<script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='assets/javascripts/fullcalendar.js'></script>
<script type="text/javascript">

$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});

</script>
<h1>Calendario de Exámen</h1>
<p>AJL</p>
<div id="calendar">
</div>